[include]
  path = ~/.gitconfig.local
[commit]
  template = ~/.gitmessage
[color]
  ui = true
[push]
  default = simple
[log]
  date = iso-local
[alias]
  melog = "!sh -c \"git log --author=$(git config user.email)\" --"
  br = rev-parse --abbrev-ref HEAD
  rb = "!sh -c \"git rebase -i HEAD~${1}\" --"
  who = shortlog -ns
  user = "!sh -c \"if [ $# -ne 1 ]; then echo "$(git config user.name) \\<$(git config user.email)\\>"; exit 0; fi; git config user.email "$(git config gituser.$1.email)" &> /dev/null; git user;\" --"
