cache=/home/gavin/.cache/npm
loglevel=error
package-lock=true
prefix=/home/gavin/.local
save=false
update-notifier=false

child-concurrency=8
strict-peer-dependencies=false
store-dir=/home/gavin/.cache/pnpm
global-bin-dir=/home/gavin/.local/bin
resolution-mode=highest
