Xft.lcdfilter: lcddefault
Xcursor.theme: Vanilla-DMZ
XTerm.vt100.background: black
Xterm.vt100.foreground: white
XTerm.vt100.faceName: JetBrains Mono NL
XTerm.vt100.faceSize: 9
XTerm.vt100.geometry: 90x28
