[Unit]
Description=Xfce4 User Session Target
Requires=graphical-session-pre.target
BindsTo=graphical-session.target
After=graphical-session-pre.target
