@import url('resource:///org/gtk/libgtk/theme/Adwaita/gtk-contained-dark.css');

/*
/usr/share/themes/Adwaita-dark/gtk-3.0/gtk.css
*/

*, *:hover {
  -gtk-icon-effect: none;
  -gtk-icon-shadow: none;
  outline-style: none;
}

.dialog-vbox .dialog-action-box,
dialog > box > buttonbox:last-child {
  margin: 0 8px 8px;
}

treeview.view {
  background-color: #2D2D2D;
}

treeview.view row.even:not(:selected) {
  background-color: #323232;
}

treeview.view row.odd:not(:selected) {
  background-color: #2A2A2A;
}

.sidebar,
.thunar .sidebar treeview.view {
  background: #3C3C3C;
}

.sidebar-row,
.thunar .sidebar treeview.view row:not(:selected) {
  background: transparent;
}

.sidebar-row {
  min-height: 28px;
}

row.activatable:active,
row.activatable:selected:active {
  box-shadow: none;
}

row image.sidebar-icon {
  opacity: 0.5;
}

filechooser {
  border-bottom: 1px solid #1B1B1B;
}

scrolledwindow overshoot.top,
scrolledwindow overshoot.bottom,
scrolledwindow overshoot.left,
scrolledwindow overshoot.right {
  background: none;
  border: none;
}

notebook > header > tabs > tab {
  padding: 0 1em;
  font-weight: 600;
  box-shadow: none;
  border: none;
}

notebook > header > tabs > tab:hover {
  background: rgba(56, 56, 56, 0.5);
}

.roxterm notebook > header {
  border-color: transparent;
  background: #1A1A1A;
}

.roxterm notebook > header > tabs {
  padding: 0;
}

.roxterm notebook > header > tabs > tab {
  margin: 0;
  padding-bottom: 2px;
}

/*
 * - should match xfce4-panel transparent background image
 * - optionally match Emerald theme for active frame
 */
.xfce4-panel {
  background: #202020; /* optionally match Emerald theme for active frame */
}

.xfce4-panel button {
  border: none;
  margin-right: 1px;
  border-radius: 0px;
  text-shadow: none;
  box-shadow: none;
}

.xfce4-panel button label:first-child {
  padding: 0 4px;
}

.xfce4-panel .tasklist button {
  background: none;
  margin-right: 0;
  box-shadow: none;
}

/* button hover */
.xfce4-panel button:hover:not(:checked):not(:active),
.xfce4-panel .tasklist button:hover:not(:checked) {
  background: rgba(0, 0, 0, 0.3);
}

/* button selected/active */
.xfce4-panel button:active,
.xfce4-panel .tasklist button:checked {
  background: rgba(0, 0, 0, 0.5);
}

/* button menu open */
.xfce4-panel button.flat:checked {
  background: rgba(12, 12, 12, 0.85);
}

.xfce4-panel wnck-pager {
  background-color: rgba(0, 0, 0, 0.5);
}

.xfce4-panel wnck-pager:selected {
  background: #000;
}

.csd.popup decoration {
  box-shadow: none;
}

menu,
.menu,
.context-menu {
  /* background: #2A2A2A; */
  /* border: 1px solid #1B1B1B; */

  background: rgba(42, 42, 42, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.csd menu,
.csd .menu,
.csd .context-menu {
  border-radius: 3px;

  /* border: 1px solid #1B1B1B; */
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.csd menu menuitem,
.csd .menu menuitem,
.csd .context-menu menuitem {
  margin: 1px;
}

tooltip.background {
  background-color: rgba(0, 0, 0, 0.65);
}

menu separator { background: rgba(0, 0, 0, 0.3); margin-top: 3px; margin-bottom: 3px; }

spinbutton:not(.vertical), entry,
spinbutton:backdrop:not(.vertical), entry:backdrop,
button.titlebutton, notebook > header > tabs > arrow, button,
button.titlebutton, button.sidebar-button, notebook > header > tabs > arrow, notebook > header > tabs > arrow.flat, button.flat,
button.titlebutton:hover, button.sidebar-button:hover, notebook > header > tabs > arrow:hover, button.flat:hover,
button.titlebutton:hover:active, button.sidebar-button:hover:active, notebook > header > tabs > arrow:hover:active, button.flat:hover:active,
notebook > header > tabs > arrow:backdrop, button:backdrop.flat, button:backdrop,
spinbutton:not(.vertical) button:backdrop,
.inline-toolbar:backdrop, searchbar > revealer > box:backdrop, .location-bar:backdrop,
.titlebar:backdrop:not(headerbar), headerbar:backdrop,
treeview.view header button:hover,
treeview.view header button:active,
treeview.view button.dnd:active, treeview.view button.dnd:selected, treeview.view button.dnd:hover, treeview.view button.dnd, treeview.view header.button.dnd:active, treeview.view header.button.dnd:selected, treeview.view header.button.dnd:hover, treeview.view header.button.dnd,
scrollbar,
scrollbar:backdrop,
scrollbar slider,
scrollbar.fine-tune slider,
switch:backdrop,
switch slider,
switch:backdrop slider,
.view.content-view.check:not(list), iconview.content-view.check:not(list), .content-view:not(list) check,
.view.content-view.check:hover:not(list), iconview.content-view.check:hover:not(list), .content-view:not(list) check:hover,
.view.content-view.check:active:not(list), iconview.content-view.check:active:not(list), .content-view:not(list) check:active,
.view.content-view.check:backdrop:not(list), iconview.content-view.check:backdrop:not(list), .content-view:not(list) check:backdrop,
.view.content-view.check:checked:not(list), iconview.content-view.check:checked:not(list), .content-view:not(list) check:checked,
.view.content-view.check:checked:hover:not(list), iconview.content-view.check:checked:hover:not(list), .content-view:not(list) check:checked:hover,
.view.content-view.check:checked:active:not(list), iconview.content-view.check:checked:active:not(list), .content-view:not(list) check:checked:active,
.view.content-view.check:backdrop:checked:not(list), iconview.content-view.check:backdrop:checked:not(list), .content-view:not(list) check:backdrop:checked,
check:backdrop, radio:backdrop,
radio:checked:not(:backdrop), radio:indeterminate:not(:backdrop), check:checked:not(:backdrop), check:indeterminate:not(:backdrop),
menu menuitem radio:checked:not(:backdrop), menu menuitem radio:indeterminate:not(:backdrop), menu menuitem check:checked:not(:backdrop), menu menuitem check:indeterminate:not(:backdrop),
progressbar trough:backdrop, scale fill:backdrop, scale trough:backdrop,
scale slider,
scale slider:backdrop,
progressbar:backdrop,
levelbar:backdrop,
scrolledwindow junction:backdrop,
row,
row:hover,
row:backdrop,
.app-notification:backdrop, .app-notification.frame:backdrop,
.sidebar:backdrop,
placesview .server-list-button > image,
placesview .server-list-button:checked > image,
decoration:backdrop,
.keycap:backdrop
{
  transition: none;
}
