cache=/home/gavin/.cache/npm
loglevel=error
package-lock=false
prefix=/home/gavin/.local
python=/usr/bin/python2
save=false
update-notifier=false

child-concurrency=8
strict-peer-dependencies=false
store-dir=/home/gavin/.cache/pnpm
global-bin-dir=/home/gavin/.local/bin
